@font-face {
  font-family: GraublauWeb;
  src: url("../fonts/ginora-sans-cufonfonts/Ginóra\ Sans\ Light.otf")
    format("opentype");
}

@font-face {
  font-family: GraublauWeb-bold;
  src: url("../fonts/ginora-sans-cufonfonts/Ginóra\ Sans\ Bold.otf")
    format("opentype");
}

@font-face {
  font-family: Gilroy-Regular;
  src: url("../fonts/FontsFree-Net-Gilroy3.ttf") format("opentype");
}

#root {
  background: #1d1d1d;
}

html {
  scroll-behavior: smooth;
}
